<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {titulo: 'Publicar Producto - Uptown Urban' , css: 'createProduct' })%>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div class="container">
                    <form action="/products" method="POST" enctype="multipart/form-data">
                        <label for="nombreProd">Nombre del Producto</label>
                        <input id="nombreProd" name="nombreProd" type="text" placeholder="Ej. Buzo Nike" required>
                        <% if (locals.errors && errors.nombreProd) { %>
                            <span class="text-error">
                                <%= errors.nombreProd.msg %>
                            </span>
                        <% } %>

                        <label for="precio">Precio</label>
                        <input id="precio" name="precio" type="number" placeholder="Ej. $4000" min="1" required>
                        <% if (locals.errors && errors.precio) { %>
                            <span class="text-error">
                                <%= errors.precio.msg %>
                            </span>
                        <% } %>

                        <label for="categoria">Categoría</label>
                        <select id="categoria" name="categoria" required>
                            <option value="" selected></option>
                            <% let categories = ['remera', 'campera', 'pantalon', 'calzado', 'accesorio'] %>
                            <% for (let category of categories ) { %>
                                    <option value="<%= category %>"><%= category %></option>
                            <% }  %>
                        </select>
                        <% if (locals.errors && errors.categoria) { %>
                            <span class="text-error">
                                <%= errors.categoria.msg %>
                            </span>
                        <% } %>

                        <label for="talle">Tamaño / Talle</label>
                        <input id="talle" name="talle" type="text" placeholder="Ej. XL, 45cm, 40" required>
                        <% if (locals.errors && errors.talle) { %>
                            <span class="text-error">
                                <%= errors.talle.msg %>
                            </span>
                        <% } %>

                        <label for="descripcion">Descripción del Producto</label>
                        <textarea name="descripcion" id="descripcion" cols="40" rows="5" required></textarea>
                        <% if (locals.errors && errors.descripcion) { %>
                            <span class="text-error">
                                <%= errors.descripcion.msg %>
                            </span>
                        <% } %>

                        <label for="imagen">Imagen</label>
                        <input id="imagen" name="imagen" type="file">
                        <% if (locals.errors && errors.imagen) { %>
                            <span class="text-error">
                                <%= errors.imagen.msg %>
                            </span>
                        <% } %>

                        <button type="sumbit" class="boton-primario">¡Publicar!</button>
                    </form>

                </div>
                </div>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>