<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs',{titulo:'Detalles-UserFashion',css:'productDetail'})%>
    
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <section class="detalle">
            <img class="container-img-big" src="/img/products/<%=product.imagen%>" alt="Campera Reebok Negra">
            <div class="container-img-data">
                <h2><%=product.nombreProd%></h2>
                <p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
                <div class="anuncios">
                    <p class="orange">MÁS VENDIDO</p>
                    <p>1° en Tendencias</p>
                </div>
                <div class="info">
                    <h3>$<%= product.precio %></h3>
                    <span>Talle: <%=product.talle%></span>
                    <a href="#">Ver los medios de pago</a>
                    <p><i class="fa-regular fa-credit-card"></i>        6 cuotas sin intereses</p>
                    
                    <p>15% de descuentos con tranf. Bancaria/Efectivo</p>
                    <h4>DESCRIPCION</h4>
                    <p><%=product.descripcion%>></p>
                    <h4>CANTIDAD</h4>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="button">
                        <button class="boton-primario">Comprar ahora</button>
                        <button class="boton-secundario">Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
   <%- include("../partials/footer.ejs") %>
    <script 
        src="http://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>  
    <script 
        src= "server.js"></script>
           
</body>
</html>