<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {titulo: 'Editar perfil - Uptown Urban' , css: 'registro' })%>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                
                <div class="container">
                    <form action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                        <label for="fullname">Nombres y Apellido</label>
                        <input id="fullname" name="fullname" type="text" placeholder= "Nuevo Nombre" value="<%= user.fullname %>"><br>
                        <label for="password">Contraseña</label>
                        <input id="password" name="password" type="password"><br>
                        <label for="profilePicture">Foto de Perfil</label>
                        <input id="profilePicture" name="profilePicture" type="file" value="<%= user.profilePicture %>"><br>
                        <button type="submit" class="boton-primario">¡Guardar Cambios!</button>
                    </form>
                </div>
                </div>
            </main>
            <%- include("../partials/footer.ejs") %>
    </body>

</html>