<%- include('../partials/head.ejs',{titulo:'Perfil - Uptown Urban',css:'profile'})%>

<main>
    <h1>Mi perfil</h1>
    <div class="dataUser">
        <img src="/img/users/<%= user.profilePicture %>" alt="">
        <h2><%= user.fullname %></h2>
        <p><%= user.email %></p>
    </div>
</main>
<%- include("../partials/footer.ejs") %>